<container>
    <row class="header">
        <columns large="6" small="6" valign="middle">
            <img
                alt="Kayak logo white"
                class="logo-white"
                src="https://i.imgur.com/mWySELZ.png">
        </columns>
        <columns large="6" small="6" valign="middle">
            <img
                alt="User Icon"
                class="user-icon float-right"
                src="https://i.imgur.com/ye0d9Ff.png">
        </columns>
    </row>
    <row class="sub-header">

        <columns large="10" small="10" style="width:90%">
            <row>
                <columns large="3" small="4">
                    <a href="#"><img alt="airplane" class="icons" src="https://i.imgur.com/yuHTMCS.png">Flights</a>
                </columns>
                <columns class="show-for-large" style="width:1%;">
                    <span class="menu-divider"></span>
                </columns>

                <columns large="3" small="4">
                    <a href="#"><img alt="airplane" class="icons" src="https://i.imgur.com/qrLLXE1.png">Hotels</a>
                </columns>
                <columns class="show-for-large" style="width:1%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns large="3" small="4">
                    <a href="#"><img alt="airplane" class="icons" src="https://i.imgur.com/GYLfrYh.png">Cars</a>
                </columns>
                <columns class="show-for-large" style="width:1%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns class="show-for-large" large="3" small="4">
                    <a href="#"><img alt="airplane" class="icons" src="https://i.imgur.com/OjskGDj.png">Packages</a>
                </columns>
            </row>
        </columns>

    </row>
</container>